{% extends "gtdb2/base.html" %}
{% block content %}
	<h1>Hello, HOME (OrgListView)!</h1>

	<table class="table table-sm table-striped table-bordered">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Phylum</th>
				<th scope="col">Kingdom</th>
			</tr>
		</thead>
    <tbody>
      {% for org in object_list %}
        <tr>
          <td>{{ org.id }}</td>
          <td>
            <a href="{% url 'gtdb2-org-detail' org.id %}">
              {{ org.name }}
            </a>
          </td>
          <td>{{ org.phylum }}</td>
          <td>{{ org.kingdom }}</td>
        </tr>
      {% endfor %}
    </tbody>
	</table>

{% endblock content %}
