{% extends "chelatase_db/base.html" %}
{% block content %}
  <h1>{{ object.name }}</h1>

	<nav aria-label="breadcrumb">
    <!-- https://getbootstrap.com/docs/4.1/components/breadcrumb/ -->
		<ol class="breadcrumb">
      {% for taxa in object.prm_dict.taxonomy %}
			  <li class="breadcrumb-item"><a href="#">{{ taxa }}</a></li>
      {% endfor %}
		</ol>
	</nav>

  <h3>Magnesium / Cobalt chelatase subunits</h3>
	<table style="width: auto;" class="table table-bordered table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Location</th>
        <th scope="col">S</th>
        <th scope="col">Pathway</th>
        <th scope="col">Name</th>
        <th scope="col">Len</th>
        <th scope="col">FS</th>
        <th scope="col">Gene</th>
        <th scope="col">Group</th>
        <th scope="col">E-value</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for feat in object.chel_subunit_feat_set|dictsort:"start" %}
        <tr>
					<td>
						<a href="https://www.ncbi.nlm.nih.gov/nuccore/{{feat.seq_id}}?report=graph&from={{feat.start}}&to={{feat.end}}">
							{{feat.seq_id}}:{{feat.start}}-{{feat.end}}({{feat.strand}})
						</a>
					</td>
					<td>{{ feat.prm_dict.chel_subunit }}</td>
					<td>{{ feat.prm_dict.chel_pathway }}</td>
          <td>{{ feat.name }}</td>
					<td>{{ feat.prm_dict.translation|length }}</td>
					<td>{{ feat.fshift.len }}</td>
					<td>{{ feat.prm_dict.chel_gene }}</td>
					<td>{{ feat.prm_dict.chel_gene_group }}</td>
					<td>{{ feat.prm_dict.chel_evalue }}</td>
          <td>{{ feat.descr }}</td>
        </tr>
      {% endfor %}
    </tbody>
	</table>

  <h3 class="mt-4">Biosynthesis pathway genes</h3>
  <div class="row">
    <div class="col-auto">
      <h5>Vitamin B12</h5>
      <table class="table table-bordered table-sm table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"># Genes</th>
          </tr>
        </thead>
        <tbody>
          {% for group in b12_groups|dictsort:"chel_gene_group" %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ group.chel_gene_group }}</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-auto ml-5">
      <h5>Chlorophyll</h5>
      <table class="table table-bordered table-sm table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"># Genes</th>
          </tr>
        </thead>
        <tbody>
          {% for group in chlorophyll_groups|dictsort:"chel_gene_group" %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ group.chel_gene_group }}</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>   <!-- <div class="row"> -->


{% endblock content %}
